* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

:root {
    --color: rgb(255, 165, 0);
    --seccolor: rgb(255, 255, 255);
}
.container{
    width: 100%;
    margin: 0 auto;
}

.conter {
    background: linear-gradient(white, grey);

}

.team {
    background: linear-gradient(white, grey);
}

.order-card {
    background: linear-gradient(rgb(255, 254, 254), grey);

}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--seccolor);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 999;
    width: auto;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo .list {
    display: flex;
    list-style: none;
    position: relative;
    gap: 30px;
}

.logo .list a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.logo .list a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--color);
    position: relative;
    display: block;
    transition: 0.2s linear;
}

.logo .list a:hover::after {

    width: 100%;
}

.logo .list a:hover {
    color: var(--color);
}

.icon {
    font-size: 20px;
    cursor: pointer;
    gap: 10px;

}

.icon i:hover {
    color: var(--color);
}

/* nav responsive*/

@media (max-width: 992px) {

    .logo .list {
        position: absolute;
        display: none;
    }


    .logo img.icon.show {
        display: flex;
        gap: 15px;
    }
}

.conter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    position: relative;
    padding: 70px 0;
}

.mian-box {
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

.mian-card {
    width: 350px;
    height: 245px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 8px 20px;

}

.mian-image img {
    height: 100%;
    width: 100%;
}

.hero {
    max-width: 50%;
}

.hero h1 {
    font-size: 55px;
    margin-left: 10px;
}

.hero h1 span {
    color: var(--color);
    font-family: mv boli;
}

.hero p {
    line-height: 22px;
    margin-left: 10px;
}

.parimay-btn {
    display: flex;
    align-items: center;
    position: relative;
    margin: 40px 0 0 10px;
    background: var(--color);
    padding: 17px 25px;
    max-width: 150px;
    text-align: center;
    gap: 5px;
    border-radius: 15px;
}

.parimay-btn a {
    text-decoration: none;
    color: var(--seccolor);
    font-size: 15px;
}

.parimay-btn i {
    color: var(--seccolor);
    transition: 0.3s;
}

.parimay-btn:hover i {
    transform: translate(7px);
}

/*hero responsive*/
@media (max-width: 992px) {
    .hero h1 {
        font-size: 45px;
    }

    .hero p {
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    .conter {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .hero {
        max-width: 90%;
    }

    .hero h1 {
        font-size: 34px;
    }

    .hero p {
        font-size: 12px;
    }

    .parimay-btn {
        margin: 25px auto;
    }
}


@media (max-width: 520px) {
    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        display: none;
    }

    .mian-card {
        width: 280px;
    }
}


.hero h3 {
    font-size: 20px;
    margin-left: 10px;

}

.about-box {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.about-card {
    width: 350px;
    height: 245px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 8px 20px;
}

.about-image img {
    height: 100%;
    width: 100%;
}

.btn {
    display: flex;
    background: #000;
    padding: 15px 23px;
    max-width: 150px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 15px;
}

.btn a {
    text-decoration: none;
    color: var(--seccolor);
    font-size: 17px;

}

.btn:hover {
    background: var(--color);
    cursor: pointer;
}

@media (max-width: 768px) {
    .conter {
        flex-direction: column;
        text-align: center;
    }

    
    .hero {
        width: 100%;
    }

    .btn {
        margin: 20px auto;
    }

    .hero h3 {
        margin-left: 0;
    }
}

.menu {
    width: 100%;
    padding: 70px 0;
}

.menu h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    margin-bottom: 70px;
}

.menu h1 span {
    color: var(--color);
    font-family: mv boli;
    margin-left: 15px;
}

.menu-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-items: center;
    margin: 20px 40px;
}

.menu-card {
    max-width: 325px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.menu-image {
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu-image:hover img {
    transform: scale(1.1);
}

.small-card {
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 1;
    border-radius: 7px;
    color: var(--seccolor);
}

.small-card:hover {
    color: var(--color);
    font-size: 25px;
}

.menu-inf h2 {
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: var(--color);
}

.menu-inf p {
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu-inf h3 {
    text-align: center;
    margin-top: 10px;
    color: var(--color);
}

.menu-icon {
    text-align: center;
    margin: 10px 0 20px 0;
}

.menu-icon i:hover {
    color: var(--color);
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--seccolor);
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
     border-radius: 15px;
}

.menu-btn:hover {
    background: var(--color);
}

/*responsive*/
@media(max-width :992px) {
    .menu-box {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .menu-box {
        grid-template-columns: 1fr 1fr;
    }

    .menu h1 {
        font-size: 40px;
    }
}

@media (max-width: 520px) {
    .menu-box {
        grid-template-columns: 1fr;
    }

    .menu h1 {
        font-size: 30px;
    }
}

.gallery {
    width: 100%;
    padding: 70px 0;
}

.gallery h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
}

.gallery h1 span {
    color: var(--color);
    font-family: mv boli;
    margin-left: 15px;
}

.gallery-image-box {
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.image {
   position: relative;
   overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--seccolor);

}

.image img {
    width: 100%;
    display: block;
    transition: .3s;
}

.image:hover img {
    opacity: 0.4;
}

.image h3 {
    position: absolute;
    left: 42%;
    font-size: 35px;
    margin-bottom: 110px;
    right: 250px;
    color: var(--color);
    font-family: mv boli;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.image:hover h3 {
    opacity: 1;
}

.image p {
    position:absolute;
   left: 1%;
    width: 100%;
    margin-top: 30px;
    margin-right: 70px;
    text-align: center;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
    color: var(--seccolor);
}

.image:hover p {
    opacity: 1;
}

.image a {
    position: absolute;
    margin-top: 160px;
    color: var(--seccolor);
    background: var(--color);
    text-decoration: none;
    padding: 7px 25px;
    border-radius: 15px;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(45px);
}

.image:hover a {
    opacity: 1;
    transform: translateY(0);
}

/* RESPONSIVE */
@media(max-width: 992px) {
    .gallery-image-box {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 768px) {
    .gallery-image-box {
        grid-template-columns: repeat(2, 1fr);
    }
    .image h3{
       display: flex;
       justify-content: center;
    }
    .image p{
          width: 100%;
        font-size: 14px;

    }
    .image a{
        font-size: 18px;
        margin-bottom: 12px;
    }
}

@media(max-width: 520px) {
    .gallery-image-box {
        grid-template-columns: 1fr;
    }

    .gallery h1 {
        font-size: 35px;
    }

    .image h3 {
        font-size: 28px;
    }

    .image p {
        width: 100%;
        font-size: 14px;
    }
    .image a{
        font-size: 12px;
        margin-bottom: 10px;
    }
}

.review {
    width: 100%;
    padding: 70px 0;
}

.review h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
}

.review h1 span {
    color: var(--color);
    font-family: mv boli;
    margin-left: 15px;
}

.review-box {
    width: 95%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.review-card {
    width: 250px;
    height: 485px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 0 8px;
}

.review-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.review-card:hover .review-profile {
    transform: translateY(-60px);
}

.review-profile img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #eeeeee;
}

.review-text {
    text-align: center;
}

.review-text h2 {
    color: #000;
    transition: 0.3s;
}

.review-card:hover h2 {
    transform: translateY(-50px);
}

.review-icon {
    color: var(--color);
    transition: 0.3s;
}

.review-card:hover .review-icon {
    transform: translateY(-30px);
}

.review-social i {
    margin: 5px 1px;
    font-size: 15px;
    transition: 0.3s;
    opacity: 0;
    cursor: pointer;
}

.review-card:hover i {
    opacity: 1;
    transform: translateY(-8px);
}

.review-text p {
    text-align: center;
    line-height: 22px;
    opacity: 1;
    transition: 0.3s;
}

/*responsive*/
@media(max-width :992px) {
    .review-box {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .review-box {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 15px;
    }

    .review-card {
        width: 220px;
        height: 420px;
    }

    .review-profile img {
        width: 150px;
        height: 150px;
    }

    .review-text h2 {
        font-size: 15px;
    }

    .review-text p {
        font-size: 13px;
    }
}

@media (max-width: 520px) {
    .review-box {
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
    }

    .review-card {
        width: 200px;
        height: 400px;
        margin: 10px auto;
    }

    .review-profile img {
        width: 130px;
        height: 130px;
    }

    .review-text {
        font-size: 16px;
    }

    .review-icon i {
        font-size: 13px;
    }

    .review-social i {
        font-size: 13px;
    }

    .review-text p {
        font-size: 13px;
    }

    .review h1 {
        font-size: 28px;
    }
}

.order {
    width: 100%;
    padding: 70px 0;
}

.order h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 55px;
}

.order h1 span {
    color: var(--color);
    margin-right: 15px;
    font-family: mv boli;
}

.order-box {
    width: 95%;
    margin: 0 auto;
    margin-left: 20px;
}

.order-card {
    width: 350px;
    height: 245px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 8px 20px;

}

.order-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 550px;
    height: auto;
    margin: 0 10px 0 10px;
}

.order-main form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}

.order-main form .input p {
    line-height: 25px;
}

.input {
    margin: 5px;
}

.input input {
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
}

.input input:focus {
    border: 2px solid black;
}

.input input:hover {
    border: 2px solid var(--color);
}

.order-btn {
    padding: 10px 0;
    background: black;
    color: var(--seccolor);
    width: 40%;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
     border-radius: 15px;
}

.order-btn:hover {
    background: var(--color);
}

@media (max-width:992px) {
    .order-box {
        flex-direction: column;
    }

    .order-main form {
        display: grid;
        grid-template-columns: 1fr;
    }

    .order h1 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .order-box {
        display: none;
    }

    .order-main form {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 20px;
        justify-content: center;
    }

    .input input {
        width: 220px;
    }
}

@media(max-width:520px) {
    .order-box {
        display: none;
    }

    .order-main form {
        font-size: 15px;
        justify-content: center;
    }

    .input input {
        width: 180px;
       
    }
    .order-btn a{
        font-size: 12px;
    }
}

.team {
    width: 100%;
    padding: 70px 0;
}

.team h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    margin-bottom: 30px;
}

.team h1 span {
    color: var(--color);
    margin-left: 15px;
    font-family: mv boli;
}

.team-box {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;


}

.profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.5);
    transition: 0.4s;
}

.profile:hover {
    border-radius: 20px;
    height: 320px;
}

.profile img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.4s;
}

.profile:hover img {
    border-radius: 20px;
    margin-top: -230px;
}

.info {
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.profile:hover .info {
    top: 60%;
}

.name {
    color: var(--color);
    margin-bottom: 15px;
}

.bio {
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}

.team-icon i {
    margin: 3px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.team-icon i:hover {
    color: var(--color);
}

@media(max-width :992px) {
    .team-box {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
    }

    .team h1 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .profile {
        width: 220px;
        height: 220px;
    }

    .profile img {
        width: 180px;
        height: 180px;
    }

    .team-box {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media (max-width: 520px) {
    .profile {
        width: 180px;
        height: 180px;
    }

    .profile img {
        width: 150px;
        height: 150px;
    }

    .team-box {
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
    }

    .team h1 {
        font-size: 30px;
    }

    .info {
        font-size: 12px;
    }
}

footer {
    width: 100%;
    padding: 30px 0 30px 20px;
    background: #eeeeee;
}

.footer-mian {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.footer-tage {
    text-align: center;
}

.footer-tage h2 {
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

.footer-tage p {
    margin: 10px 0;
}

.footer-tage i {
    margin: 0 5px;
    cursor: pointer;
}

.footer-tage i:hover {
    color: var(--color);
}

@media(max-width :992px) {
    .footer-mian {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .footer-mian {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 520px) {
    .footer-mian {
        grid-template-columns: 1fr;
    }
}